body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: darkgrey;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

label[for="message"] {
    font-weight: lighter;
}


input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 0px;
}

textarea {
    resize: vertical;
}
