body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slider-container {
    position: relative;
    text-align: center;
}

#sliderImage {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.button-container {
    position: absolute;
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

#prevBtn {
    float: left;
}

#nextBtn {
    float: right;
}
