body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
    margin: 10;
    display: flex;
    align-items:first baseline;
    justify-content: left;
    height: 100vh;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#display_count {
    margin-top: 20px;
    font-size: 18px;
}
