body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a:hover {
    color: black;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

@media only screen and (max-width: 850px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-list.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
